#box #box-1 div{
	height: 40px;
	border: 1px solid #999;
	font:14px/40px "微软雅黑";
	text-align: center;
}
a:hover{
	text-decoration:none;
}
.col-lg-3 input{
	width: 60px;
	height: 22px;
	border: none;
	background: red;
}
.navbar-default{
	margin: 0px;
}
.navbar-default .navbar-nav>li>a{
	height: 100px;
	line-height: 100px;
	padding-top: 0px;
}
.navbar-nav>li>a:hover{
	border-bottom: 3px red solid;
}
#a1{
	height: 100px;
}
.container-fluid img{
	margin-top: 15px;
}
#box-2{
	padding:0px 100px 0px 100px;
	height: 100px;
}
#box-3{
	position: absolute;left: 37%;top: 0px;
	line-height: 1;
}
#gl1, #bcol-lg-4-1{
	float: left;
	
	
}
#box4{
	padding-top: 50px;
	border-bottom: 1px solid #000000;
}
#box4 a{
	color: #9D9D9D;
}
#box4 a:hover{
	color: red;
}
#bcol-lg-4-1 p{
	font-size: 12px;
}
#con{
	padding: 20px 100px;
	border-bottom: 1px solid #9D9D9D;
}
#span1, #p4{
	float: left;
}
#p4{
	height: 20px;
}
#span2, #p3{
	float: right;
}
#p1, #row1{
	height: 20px;
}
#cs{
	color: #FFFFFF;
	background: red;
}
.ticket_right{
	background: red;
	float: right;
	border-left:  1px dashed #FFFFFF;
	width: 108px;
	min-height:150px;
}
.ticket_left{
	float: left;
	border-right:  1px dashed #FFFFFF;
	min-height:150px;
}
#media-left{
	font-size: 40px;
}
